<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Create New Movie</title>
</head>
<body>
<div class="col-md-offset-2">
    <h2>Create New Movie</h2>
</div>
<form class="form-horizontal" th:action="@{|/movie/create|}" th:object="${movie}" method="post">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Name:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" th:field="*{name}" id="name"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="director">Director:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" th:field="*{director}" id="director"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="description">Description:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" th:field="*{description}" id="description"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="category">Category:</label>
        <div class="col-sm-6">
            <select class="form-control" name="category" id="category">
                <option th:each="category : ${categories}" th:value="${category}"
                        th:text="${category.getFullName()}"/>
            </select>
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-6">
        <input class="btn btn-info" type="submit" value="Create"/>
        <input class="btn btn" type="reset" value="Clear"/>
    </div>
</form>
<a th:href="@{|/movie/all|}">Go to Movie List</a>
</body>
</html>
